<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    created by: 曾志昊 2017302580214
-->

<mapper namespace="com.bookshop.dao.BookDao">

    <resultMap id="bookResultMap" type="com.bookshop.entity.Book">
        <id column="book_id" jdbcType="BIGINT" property="bookId" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="book_name" jdbcType="VARCHAR" property="bookName" />
        <result column="detail" jdbcType="VARCHAR" property="detail" />
        <result column="book_type" jdbcType="VARCHAR" property="bookType" />
        <result column="image" jdbcType="VARCHAR" property="image" />
        <result column="publish_time" jdbcType="VARCHAR" property="publishTime" />
        <result column="book_status" jdbcType="VARCHAR" property="bookStatus" />
    </resultMap>

    <sql id="search_where">
        <if test="bookId != null">and book_id like #{bookId}</if>
        <if test="price != null">and price like #{price}</if>
        <if test="bookName != null">and book_name like #{bookName}</if>
        <if test="bookType!=null">and book_type = #{bookType}</if>
        <if test="bookStatus!=null">and book_status = #{bookStatus}</if>
        <if test="startTime!=null"><![CDATA[ and publish_time >= #{startTime}]]></if>
        <if test="endTime!=null"><![CDATA[ and publish_time <= #{endTime}]]></if>
        <if test="startPrice!=null"><![CDATA[ and price>=startPrice]]></if>
        <if test="endPrice!=null"><![CDATA[ and price<= endPrice]]></if>

    </sql>

    <!--sql代码块-->
    <sql id="table_column">
        (price,book_name,detail,book_type,image,publish_time,book_status)
    </sql>

    <select id="getAllBooks"  resultMap="bookResultMap">
        select * from book
     </select>

    <select id="getAllBooksPage" parameterType="java.util.HashMap" resultMap="bookResultMap">
        select * from book
        <if test="startPage!=null and pageSize != null"> LIMIT #{startPage},#{pageSize}</if>
    </select>

    <select id="getBook" parameterType="Long" resultMap="bookResultMap">
        select * from book where book_id = #{bookId}
    </select>

    <select id="searchBooks" parameterType="java.util.HashMap" resultMap="bookResultMap">
        select * from book where 1=1
        <include refid="search_where"></include>
        <if test="startPage!=null and pageSize != null">and LIMIT #{startPage},#{pageSize}</if>
    </select>

    <insert id="insertBook" parameterType="com.bookshop.entity.Book" keyColumn="book_id" useGeneratedKeys="true">
        insert into book <include refid="table_column"/>
        values
        (
            #{bookId},#{price},#{bookName},#{detail},#{bookType},#{image},#{publishTime},#{bookStatus}
        )
    </insert>

    <insert id="insertBooks" parameterType="java.util.List">
        insert into book <include refid="table_column"/>
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.bookId},
                #{item.price},
                #{item.bookName},
                #{item.detail},
                #{item.bookType},
                #{item.image},
                #{=DATE_FORMATE(#{item.publishTime},'%Y-%m-%d %H:%i:s')},
                #{bookStatus}
            )
        </foreach>
    </insert>

    <update id="updateBook" parameterType="com.bookshop.entity.Book">
        update book
        <set>
            <if test="price!=null">price=#{price}</if>
            <if test="bookName!=null">book_name=#{bookName}</if>
            <if test="detail!=null">detail=#{detail}</if>
            <if test="bookType!=null">book_type=#{bookType}</if>
            <if test="image!=null">image=#{image}</if>
            <if test="publishTime!=null">publish_time=DATE_FORMATE(#{publishTime},'%Y-%m-%d %H:%i:s')</if>
            <if test="bookStatus!=null">book_status=#{bookStatus}</if>
        </set>
        where book_id=#{bookId}
    </update>

    <update id="updateBooks" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            update book
            <set>
                <if test="item.price!=null">price=#{item.price}</if>
                <if test="item.bookName!=null">book_name=#{item.bookName}</if>
                <if test="item.detail!=null">detail=#{item.detail}</if>
                <if test="item.bookType!=null">book_type=#{item.bookType}</if>
                <if test="item.image!=null">image=#{item.image}</if>
                <if test="item.publishTime!=null">publish_time=DATE_FORMATE(#{item.publishTime},'%Y-%m-%d %H:%i:s')</if>
                <if test="bookStatus!=null">book_status=#{bookStatus}</if>
            </set>
            where book_id=#{item.bookId}
        </foreach>

    </update>

    <delete id="deleteBookById" parameterType="Long">
        delete from book where book_id=#{bookId}
    </delete>

    <delete id="deleteBook" parameterType="com.bookshop.entity.Book">
        delete from book where book_id=#{bookId}
    </delete>

    <delete id="deleteBooks" parameterType="java.util.List">
        delete from book where book_id in
        <foreach collection="list" item="bookId" open="(" close=")" separator=",">
            #{bookId}
        </foreach>
    </delete>

    <select id="count" parameterType="java.util.HashMapMap" resultType="Integer">
        select count(*) from book
        <include refid="search_where"/>
    </select>

</mapper>